{% extends 'sb_index.twig' %}
{% import 'form_macros.twig' as form %}
    {% block body %}
        <section id="tabs">
            <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                    </div>
                    <div class="card-body">
                        <div class="row pl-4">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="true">Change Password</a>
                                        <a class="nav-item nav-link" id="nav-email-tab" data-toggle="tab" href="#nav-email" role="tab" aria-controls="nav-email" aria-selected="false">Change Email</a>
                                        <a class="nav-item nav-link" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="false">Delele Account</a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                                        <form id="password-form" class="user" action="{{ site.worker }}password.php" method="post" role="form" data-toggle="validator">
                                            <div class="messages"></div>
                                            <div class="form-group">
                                                <label for="email">Email Address</label>
                                                <input type="email" class="form-control form-control-user" id="email" name="email" value="{{ user.email|escape }}" placeholder="{{ user.email|escape }}" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Current Password Please!</label>
                                                <input type="hidden" name="nonce" value="{{ call_nonce('password-form') }}" />
                                                <input type="password" class="form-control form-control-user" id="currpass" name="currpass" placeholder="Current Password Please" required="required">
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label for="newpass">New Password Please</label>
                                                    <input type="password" class="form-control form-control-user" id="newpass" name="newpass" placeholder="New Password Please" required="required">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="repeatnewpass">Repeat New Password Please</label>
                                                    <input type="password" class="form-control form-control-user" id="repeatnewpass" name="repeatnewpass" placeholder="Please confirm new password!" required="required">
                                                </div>
                                            </div>
                                            <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Change Password</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab">
                                        <form id="email-change-form" class="user" action="{{ site.worker }}change-email.php" method="post" role="form">
                                            <div class="messages"></div>
                                            <div class="form-group">
                                                <label for ="password">New email address</label>
                                                <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="{{ user.email|escape }}" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Your Current Password Please</label>
                                                <input type="hidden" name="nonce" value="{{ call_nonce('email-change-form') }}" />
                                                <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Current Password Please" required="required">
                                            </div>
                                            <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Change Email</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
                                        <form id="delete-account-form" class="user" action="{{ site.worker }}delete-account.php" method="post" role="form" data-toggle="validator">
                                            <div class="messages"></div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control form-control-user" id="email" name="email" value="{{ user.email|escape }}" placeholder="{{ user.email|escape }}" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Your password please!</label>
                                                <input type="hidden" name="nonce" value="{{ call_nonce('delete-account-form') }}" />
                                                <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Current Password Please" required="required">
                                            </div>
                                            <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Delete Account</button>
                                            <p class="lead text-danger">Warning: This action cannot be undone</p>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <!-- ./Tabs -->
    {% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ site.url|e }}/js/profile.min.js"></script>
{% endblock scripts %}