{% extends 'sb_index.twig' %}
{%  block head %}


{% endblock head %}
{% block body %}
    {% if user.user_group == "root" %}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="mt-2 font-weight-bold text-primary float-start">Permissions</h6>
            </div>
            <div class="card-body" id="permissions">
                <div class="alerts"></div>

                <div class="table-responsive-sm">
                    <table id="dataTable" class="table table-striped table-sm table-hover small">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Category</th>
                            <th scope="col">Url</th>
                            {% if verify(user.id, 'edit_permissions') %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for permission in permissions %}
                            <tr>
                                <td>{{ permission.permission_id|escape }}</td>
                                <td>{{ permission.permission_title|escape }}</td>
                                <td>{{ permission.description|capitalize|escape }}</td>
                                <td>{{ permission.category|title|escape }}</td>
                                <td><a href="{{ site.url }}dashboard/{{ permission.url|escape }}/" target="_blank">{{ site.url }}dashboard/{{ permission.url|escape }}/</a></td>
                                {% if verify(user.id, 'edit_permissions') %}
                                    <td>
                                        <button type="button" class="btn btn-circle btn-secondary btn-sm clearing-btn" data-bs-toggle="modal" data-bs-target="#modal{{ permission.permission_id }}" aria-expanded="false" aria-controls="#modal{{ permission.permission_id }}">
                                            <i class="fa fa-person-military-rifle"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal{{ permission.permission_id }}" tabindex="-1" aria-labelledby="modal{{ permission.permission_id }}Label">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-danger text-white">
                                                        <h5 class="modal-title" id="modal{{ permission.permission_id }}Label">Edit Permission Groups</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form id="edit-permissions-form{{ permission.permission_id.id }}" class="permissions-edit mt-4" action="{{ site.worker }}permission-edit.php" method="post" role="form" data-toggle="validator">
                                                        <div class="modal-body">
                                                            <div class="messages"></div>
                                                            <div class="form-group row">
                                                                <input type="hidden" id="permission_title" name="permission_title" value="{{ permission.permission_title }}" required>
                                                                <input type="hidden" id="session_user_id" name="session_user_id" value="{{ user.id }}" required>
                                                                <input type="hidden" name="nonce" value="{{ call_nonce('permissions-add') }}" />

                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <div class="col-md-6 ps-5">
                                                                    <span class="lead strong">User Groups</span>
                                                                    <div class="optionsList ps-4">
                                                                        {% set group = getGroups(permission.permission_title) %}
                                                                        {% for userGroup in userGroups %}
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="{{ userGroup|lower|e }}" name="user_group[]" id="user_group" {% for grp in group %}{% if grp.user_group == userGroup %}checked{% endif %}{% endfor %}>
                                                                                <label class="form-check-label" for="user_group">
                                                                                    {{ userGroup|title|e }}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Update</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dataTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        attr: {class: 'btn btn-outline-secondary'},
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        attr: {class: 'btn btn-outline-secondary'},
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        attr: {class: 'btn btn-outline-secondary'},
                    }
                ]
            });
        });
    </script>


{% endblock %}