{% extends 'sb_index.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">My Account</h6>
                </div>
                <div class="card-body">
                    <form id="account-update-form" class="user mt-4" action="{{ site.worker }}account-update.php" method="post" role="form" data-toggle="validator">
                        <div class="messages"></div>
                        <div class="form-group row">
                            <input type="hidden" id="user_id" name="user_id" placeholder="{{ user.id }}" value="{{ user.id }}" required>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control form-control-user"  id="first_name" name="first_name" placeholder="{{ user.first_name }}" value="{{ user.first_name }}" required>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control form-control-user" id="last_name" name="last_name" placeholder="{{ user.last_name }}" value="{{ user.last_name }}" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <div class="col-sm-6">
                                <label for="phone">Phone Number</label>
                                <input type="hidden" name="nonce" value="{{ call_nonce('user-account-form') }}" />
                                <input type="text" class="form-control form-control-user" id="phone" name="phone" placeholder="{{ user.phone }}" value="{{ user.phone }}" required >
                            </div>
                            <div class="col-sm-6">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="{{ user.email }}" value="{{ user.email }}" required>
                            </div>
                        </div>
                        <button type="submit" id="submit" class="btn btn-success btn-send mt-3"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">My Account</h6>
                </div>
                <div class="card-body">
                    <form id="password-form" class="user" action="{{ site.worker }}password.php" method="post" role="form" data-toggle="validator">
                        <div class="messages"></div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="email" name="email" value="{{ user.email|escape }}" placeholder="{{ user.email|escape }}" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="currpass" name="currpass" placeholder="Current Password Please" required="required">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user" id="newpass" name="newpass" placeholder="New Password Please" required="required">
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" name="nonce" value="{{ call_nonce('password-form') }}" />
                                <input type="password" class="form-control form-control-user" id="repeatnewpass" name="repeatnewpass" placeholder="Please confirm new password!" required="required">
                            </div>
                        </div>
                        <button type="submit" id="submit" class="btn btn-success btn-send">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script type="text/javascript" src="{{ site.url|e }}/js/user-account.min.js"></script>
    <script type="text/javascript" src="{{ site.url|e }}/js/password.min.js"></script>
{% endblock scripts %}