<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ site.name }} - {{ page.title }}" />
    <meta name="author" content="SecondSite.xyz" />
    <meta name="image" content="{{ site.img }}/site-img.png" />
    <meta name="robots" content="noindex, nofollow" />
    <title>{{ site.name }} - {{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url|e }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url|e }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url|e }}favicon-16x16.png">
    <link rel="manifest" href="{{ site.url|e }}site.webmanifest">
    <link href="{{ site.url }}admin/css/styles.min.css" rel="stylesheet" />
    {% block head %}

    {% endblock head %}
  </head>
  <body class="bg-gradient-primary {{ page.class }}">
      <div class="container auth">
          <div class="card o-hidden border-0 shadow-lg my-5 h-100">
              <div class="card-body p-0">
                  <div class="row">
                      <div class="col-lg-5 d-none d-lg-block p-3 mt-auto mb-auto text-center">

                      </div>
                      <div class="col-lg-7">
                          <div class="p-5">
                              <div class="text-center">
                                  <h1 class="h4 text-gray-900 mb-4">{{ page.title }}</h1>
                              </div>
                              <div class="main">
                                {% block body %}{% endblock body %}
                              </div>
                              <hr>
                              <div class="text-center">
                                  <a class="small" href="{{ site.admin }}/reset-request/">Forgot Password?</a>
                              </div>
                              <div class="text-center">
                                  <a class="small" href="{{ site.url }}/">Login Here!</a>
                              </div>
                              <div class="text-center">
                                  <a class="small" href="{{ site.admin }}/register/">Register a new account</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <script type="text/javascript" src="{{ site.url }}vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}client/js/client.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}vendor/jquery-validation/jquery.validate.min.js"></script>
      {% block scripts %}

      {% endblock scripts %}
  </body>
</html>