{% extends 'sb_index.twig' %}
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Content Row -->
  <div class="row mt-4">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Open Tickets Overview</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><small>Open Tickets: <span class="text-danger">{{ openTicket }}</span> </small></div>

            </div>
            <div class="col-auto">
              <a class="nav-link link-dark" href="{{ site.admin }}tickets-table/"><i class="fas fa-calendar fa-2x text-gray-300"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">

            </div>
            <div class="col-auto">

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-4 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">User Overview</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"> <small>Active Users: <span class="text-primary">{{ userCount }}</span> </small></div>
              {% for grouped in groupUsers %}
                <div class="count-wrapper small">
                  {{ grouped.group_name|capitalize|e }}: <span class="text-success">{{ grouped.count|e }}</span>
                </div>
              {% endfor %}
            </div>
            <div class="col-auto">
              <a class="nav-link link-dark" href="{{ site.admin }}users-table/"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {#
    <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">We the People</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"> <small>Submissions</small></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
    #}

  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}


