{% extends 'timer_index.twig' %}

{% block body %}

    <div class="row mt-2">
        <div id="taskPanel" class="col-md-2">
            <input id="task_id" name="task_id" type="hidden" value="0">

            <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
                <button class="btn btn-primary w-100" id="addTaskBtn" role="button"><i class="fa fa-plus-circle"></i> Add Task</button>
                {% for item in tasks | reverse %}
                <button id="{{ item.task_id }}" class="btn btn-primary taskBtn w-100" type="button">{{ item.task_name|title }}</button>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-10">
            <div id="task-details-wrapper"></div>
        </div>
    </div>


    <div id="addTaskModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form name="add-task-form" method="post" action="{{ site.url|e }}include/workers/timer/tasks.php">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="task_name" class="form-label">Task Name</label>
                            <input type="text" class="form-control" id="task_name" name="task_name" aria-describedby="task_nameHelp">
                            <div id="task_nameHelp" class="form-text">For easy reference.</div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Describe the Task" id="description" name="description" style="height: 100px"></textarea>
                                <label for="description">Comments</label>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="add-task">
                        <input type="hidden" name="nonce" value="{{ call_nonce('add-user-form') }}">
                        <input type="hidden" name="created_by_user_id" value="{{ user.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            const render = document.location.origin + "/include/workers/timer/tasks.php";

            // Add a task
            $('#addTaskBtn').on('click', function() {
               console.log('Add Task');
                $('#addTaskModal').modal('show');
            });

            // Get a Task
            $('#taskPanel').on('click', '.taskBtn', function (e) {
                e.preventDefault();
               let taskId = $(this).attr('id');
               console.log(taskId);

                getTask(taskId);
            });
            function getTask(taskId) {
                $.post(render, {
                    action: 'get-task',
                    nonce: '{{ call_nonce('add-user-form') }}',
                    task_id: taskId,
                })
                    .done(function (data) {
                        let taskDetail = data.task;
                        let Details = data.details;
                        $('#task-details-wrapper').empty().append(taskDetail);
                        $('#task_id').val(taskId);
                        $('#timer_table').DataTable({
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    attr: {class: 'btn btn-success btn-sm'},
                                    exportOptions: {
                                        columns: [ 0, ':visible' ]
                                    }
                                },
                                {
                                    extend: 'excelHtml5',
                                    title: Details.task_name + ' ' + Details.description,
                                    attr: {class: 'btn btn-success btn-sm'},
                                    exportOptions: {
                                        columns: ':visible'
                                    }
                                },
                                {
                                    extend: 'colvis',
                                    attr: {class: 'btn btn-success btn-sm'},
                                }
                            ]
                        });
                    });

            }

            $('#task-details-wrapper').on('click', '.start_session', function (e) {
                e.preventDefault();
                let taskId = $('#task_id').val();
                console.log(taskId);

                $.post(render, {
                    action: 'start-session',
                    nonce: '{{ call_nonce('add-user-form') }}',
                    task_id: taskId,
                    user_id: '{{ user.id }}'
                })
                    .done(function (data) {
                        $('#session_id').val(data.task);
                        $('.start_session').prop("disabled", true);
                        $('.stop_session').prop("disabled", false);
                        $('#busy_spinner').removeClass('hidden');
                        getTask(taskId);
                    });
            });

            $('#task-details-wrapper').on('click', '.stop_session', function (e) {
                e.preventDefault();
                let sessionId = $('#session_id').val();
                let taskId = $('#task_id').val();
                console.log('session_id =>' + sessionId);

                $.post(render, {
                    action: 'stop-session',
                    nonce: '{{ call_nonce('add-user-form') }}',
                    session_id: sessionId,
                    user_id: '{{ user.id }}'
                })
                    .done(function (data) {
                        $('.start_session').prop("disabled", false);
                        $('.stop_session').prop("disabled", true);
                        $('#busy_spinner').addClass('hidden');
                        getTask(taskId);
                    });
            });


            // Global function to submit forms
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
            var modalTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="modal"]'));
            var modalList = modalTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
            jQuery(document).submit(function (e) {
                var form = jQuery(e.target).closest('form');
                console.log(form);
                var url = form.attr("action");
                e.preventDefault();
                jQuery.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        var messageAlert = 'alert-' + data.type;
                        var messageText = data.message;
                        var alertBox = '<div class="alert ' + messageAlert + ' alert-dismissible fade show" role="alert">\n' +
                            '  <strong>Notice! </strong> ' + messageText + '\n' +
                            '  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                            '</div>';
                        if (messageAlert && messageText) {
                            form.find('.messages').html(alertBox);
                            form[0].reset();
                        }
                        if (data.type === 'success') {
                            $('#addTaskModal').modal('hide');
                            reload();
                        }

                    }
                });
            });
            function reload()
            {
                let location = window.location;
                window.location.replace(location);
            }
        });
    </script>
{% endblock scripts %}