<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h3 class="float-start">Task: {{ task.task_name|title }}</h3>
                <button type="button" class="btn btn-danger btn-sm small deleteTaskBtn float-end mx-1"><i class="fa fa-trash text-light"></i></button>

                <div id="busy_spinner" class="spinner-border text-success float-end me-3{% if task.open_session == 0 %} hidden{% endif %}" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="card-body">
                <form name="add-task-form" method="post" action="{{ site.url|e }}include/workers/timer/tasks.php">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="task_name" class="form-label">Task Name</label>
                            <input value="{{ task.task_name }}" type="text" class="form-control" id="task_name" name="task_name" aria-describedby="task_nameHelp">
                            <div id="task_nameHelp" class="form-text">For easy reference.</div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Describe the Task" id="description" name="description" style="height: 100px">{{ task.description }}</textarea>
                                <label for="description">Comments</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p><strong>Task Created at: </strong> {{ task.created_at }}</p>
                            <p><strong>Task Updated at: </strong> {{ task.updated_at }}</p>
                            <p><strong>Task Total Time: </strong> {{ task.total_hours }}h  {{ task.total_minutes }}m </p>
                        </div>
                        <div class="mb-3">

                        </div>
                        <input id="session_id" name="session_id" type="hidden" value="{{ task.open_session }}">
                        <input name="task_id" type="hidden" value="{{ task.task_id }}">

                        <input type="hidden" name="action" value="update-task">
                        <input type="hidden" name="task_status" value="open">
                        <input type="hidden" name="nonce" value="{{ call_nonce('add-user-form') }}">
                        <input type="hidden" name="updated_by_user_id" value="{{ user.id }}">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary updateTaskBtn">Update</button>

                        <button type="button" class="btn btn-success start_session mx-1" {% if task.open_session > 0 %}disabled{% endif %}>Start Session</button>
                        <button type="button" class="btn btn-danger stop_session" {% if task.open_session == 0 %}disabled{% endif %}>Stop Session</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1 pt-1">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="timer_table">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Start</th>
                            <th>Stop</th>
                            <th>Hours</th>
                            <th>Minutes</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in task.sessions|reverse %}
                            <tr id="{{ item.session_id }}">
                                <th>{{ item.session_status }}</th>
                                <th>{{ item.created_at }}</th>
                                <th>{{ item.updated_at }}</th>
                                <th>{{ item.hours }}</th>
                                <th>{{ item.minutes }}</th>
                                <th><i class="fa text-danger fa-trash deleteSessionBtn"></i> </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>