<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow" />
    <title>{{ site.name }} - {{ page.title }}</title>

    <link href="{{ site.url|e }}admin/css/styles.min.css" rel="stylesheet">

</head>
<body id="page-top" class="page-{{ page.class }} pb-5 mb-5 bg-dark">
<!-- Page Wrapper -->
<div id="wrapper" class="container overflow-hidden">
    <!-- Content Wrapper -->
    <div id="content" style="min-height: 80vh;">
        {% block body %}

        {% endblock body %}
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->


</div>
<footer class="sticky-footer bg-secondary">
    <div class="container-fluid my-auto">
        <div class="copyright text-center my-auto p-3">
            <span>Copyright &copy; {{ site.name }} {{ site.year }}</span>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ site.url|e }}vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.url|e }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{{ site.url|e }}vendor/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ site.url|e }}vendor/datatables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="{{ site.url|e }}vendor/datatables/jszip.min.js"></script>

<script type="text/javascript" src="{{ site.url|e }}vendor/datatables/buttons.html5.min.js"></script>
<script type="text/javascript" src="{{ site.url|e }}vendor/datatables/buttons.colVis.min.js"></script>
<script type="text/javascript" src="{{ site.url|e }}vendor/jquery-validation/jquery.validate.min.js"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
